@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');


*{
	transition: all ease-in-out 250ms;
	box-sizing: border-box;
}
body{
	margin:0;
	padding:0;
	font-family: 'Raleway', sans-serif;

}
.row{
	margin:0;
}
.contain-big-nav{
	position:fixed;
	display:block;
	left:0px;
	height:100%;
	width:900px;
	background-color:white;
	z-index:100;
	opacity:0.99;
}

input[type=text]:focus {
    border: 3px solid #555;
}
body{
	margin:0px;
	padding:0px;

}
.box{
	width:100%;
	height:100%;
	border:2px red solid;
}
.second_slide{
	font-weight:100;
}

.second_slide_pic{
	position: relative;
	text-align: center;
	color: white;
}
.third_slide_pic{
	position: relative;
	text-align: center;
	color: white;
}
.centered-up {
	position: absolute;
	top: 45%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}
.centered-down {
	margin-top:30px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contain-instagram {
	width:100%;
	padding:100px;
	display:inline-block;
}

.instagram-heading{
	padding:50px;
}

.insta-p {
	display:block;
	margin:auto;
	width:300px;
	text-align:center;
	font-style: italic;
	color:#000000;
}

.insta-h1 {
	display:block;
	margin:auto;
	width:300px;
	text-align:center;
	color:#000000;
}

.first_big_image{
	margin-top:40px;
	padding:20px;
	width:100%;
}
.first-slide{
	margin-top:0px;
	height:90%;
}
.second_slide{
	margin:0;
	width:100%;
	height:100%;
}
.contain_main_text{
	margin-top: 200px;
	color:#b4b6c3;
	font-weight:300;
}
.contain_main_text > h1{
	font-size:28px;
	text-align:center;
}
.nav{
	position:fixed;
	width:100%;
	height:100px;
	padding:0px;
	display:inline;
	background-color: white;
	text-align:center;
}
.nav_logo{
	width:290px;
	height:70px;
	display:block;
	margin:auto;
	margin-left:100px;
	margin-top:12px;
}
#recent-events{
	display:inline-block;
	padding-top:50px;
}
.recent_events_description{
	display:block;
}

.recent-event-inside{
	padding:30px;
}
.recent-event-inside-img{
	width:100%;
}
.recent-event-inside-des{
	margin-top:15px;
	text-align:center;
	width:100%;
}


.section-heading{
	letter-spacing: 2px;
	color: #75798e;
}
.recent-events-heading{
	padding-top:100px;
	padding-bottom:30px;
}
.heading-h1{
	display:block;
	margin:auto;
	width:300px;
	text-align:center;
}

.logo_center{
	display:inline-block;
	margin:auto;
}
.menu-button{
	padding:0px;
	display:inline-block;
	background:none;
	width:50px;
	height:43px;
	border:none;
	cursor: pointer;
	z-index:1000;
}
.menu-button-span{
	margin:auto;
	margin-bottom:5px;
	border-radius: 14px;
	display:block;
	width:70%;
	height:4px;
	background-color:#626262;
}
.menu-left{
	margin-top:10px;
	padding:20px;
	display:inline-block;
	float:left;
}
.lightbulb{
	width:120px;
	height:60px;
	position:relative;
	float:left;
	margin-left:80px;
}
.social-right{
	padding:20px;
	display:inline;
	float:right;
	margin-top:7px;
}
.social-insta{
	width:40px;
	height:40px;
	margin-left:20px;
	display:inline-block;
	margin-right:20px;
}
.social-email{
	width:50px;
	height:50px;
	display:inline-block;
}


.third-slide{
	position:relative;
	width:100%;
	height:80%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.contain-big-nav{
	left:-1000px;
}

.close-big-nav{
	width:50px;
	height:50px;
}

.eyenewspic{
  width:100%;
}

.center{
text-align: center;
}
.eye-news {
  margin:0;
  width:100%;
  height:100%;

  padding:85px;
}
.eye-news-contain-nested-row{
	margin-bottom:30px;
}
.contain-big-nav{
	left:-1000px;
}
.close-big-nav{
	width:50px;
	height:50px;

}

.contain-third-slide-content{
	width:1000px;
	margin:auto;
	padding-top:150px;
}
.third-slide-content-inside{
	display:inline-block;
	width:150px;
}
.media-third{
	margin-right:150px;
}
.inside-third-slide-box{
	border:1px solid white;
	padding:20px;

}
.eye_news{
	padding:20px;
}
.eye-news-contain-nested-row{
	margin-bottom:30px;


}
.eyenewspic{
  width:100%;
}

.eye_news_banner{
  margin:0;
  width:100%;
  height:15%;
}
.center{
text-align: center;
}
.eye_news {
  margin:0;
  width:100%;
  height:100%;
}

.profile-slide {
	display:inline-block;
	margin:auto;
	width:100%;
	padding: 100px
}
.temp-resize {
	height:120px;
	margin:auto;
	display:block;
}
.profile-description {
	display:block;
	margin:auto;
	width:80%;
	background-color:silver;
}
.description-detail {
	padding:30px;
}

.centered {
	text-align: center;
}
.description-video{
	width: 85%;
	height: auto;
	margin: auto;
	display: block;
}

.partners {
	display:block;
	margin:auto;
	width:70%;
	padding:50px;
}

.partners-heading{
	text-align: center;
	color: #b4b6c3;
}

.eye-love {
	text-align:center;
	display:block;
	padding: 50px;
}

.eye-love-description {
	text-align: center;
	padding: 30px;
}

.other-partners {
	text-align:center;
	display:block;
}

.safe-kids-description {
	text-align: center;
	padding: 30px;
}







/* More Stuff */
*{
				box-sizing: border-box;
			}
				.nav-left{
					width:55%;
					display:inline;
					float:left;
				}
				.nav-right{
					width:45%;
					display:inline;
					float:right;
				}
				.current-page{
					text-decoration: underline;
					opacity:0.7;
				}
				.contain-toggle-nav-links{
				    position: absolute;
					left: 25%;
					top: 30%;

				}
				.contain-toggle-nav-links > li{
					font-weight:100;
					font-size:17px;
					margin-bottom:15px;
				}
				.contain-toggle-nav-links > li > a{
					color:black;
				}
				.contain-toggle-nav-links > li > a:hover{
					opacity:0.7;
				}
				.line-break{
					position:absolute;
					left:55%;
					height:90%;
					margin-top:5%;
					width:1px;
					background-color:rgba(235,235,235,0.8);
				}

				.nav-right{
					padding:30px;
					padding-top:6%;
				}
				.nav-right > h1{
					border-top:1px solid rgba(235,235,235,0.8);
					width:80%;
					display:block;
					margin:auto;
					padding-top:45px;
					font-size:25px;
					letter-spacing:0.5px;
				}

				.subscribe-text-input{
					margin-top:30px;
					padding:15px 29px;
					margin-bottom:5px;
					width:80%;
				}
				.subscribe-text-input:focus{
					outline:0;
				}
				.subscribe-button-nav{
					margin-top:3px;
					font-weight:600;
					border:2px solid black;
					background-color:none;
					padding:10px 28px;
					font-size:15px;
				}
				.subscribe-button-nav:hover{
					text-decoration: underline;
					color:white;
					background-color:black;
				}
				.nav-toggle-poem{
					width:80%;
					display:block;
					margin:auto;
					border-top:1px solid rgba(235,235,235,0.8);
					padding-top:45px;
					margin-bottom:45px;
					text-align:center;
					line-height:30px;
					font-style: oblique;
				}
				.nav-toggle-logo{
					width:80%;
					display:block;
					margin:auto;
					margin-bottom:70px;
				}
<<<<<<< HEAD
				
=======


>>>>>>> 2e01fbf4351f405f7872c36d9ffd772081ae7184
				.menu-left{
					display:block;
					z-index:100;
					position:fixed;
				}
				.menu-left:focus{
					outline:0 !important;
				}

				.third-slide{
					width:100%;
					height:80%;
					background-image: url('/img/third-slide.jpg');
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
					background-attachment: fixed;
					transition: none !important;
				}

				.second-slide{
					position:relative;
					width:100%;
					height:80%;
					background-image: url('/img/second-slide.png');
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
					background-attachment: fixed;
					transition: none !important;
				}

				.second-slide > *{
					color:white;
					z-index:2;
				}

	#contact-link-footer{
			text-decoration:none;
			color:white;
		}
		#contact-link-footer:hover{
			color:black;
		}

		.footer{
			background-color:#434965;
			bottom:0;
			width:100%;
			padding-top:60px;
			padding-bottom:80px;
			height: 400px;
		}
		.footer img{
			display:block;
			margin:0px auto;		}

		.footer h2{
			width:100%;
			text-align:center;
			color:white;
			font-size:15px;
			font-weight:100;
		}
		.footer p{
			width:100%;
			font-size:10px;
			font-weight:300;
			color:#b4b6c3;
		}

		.footer h3{
			width:100%;
			font-size:15px;
			font-weight:300;
			color:#b4b6c3;
		}

		.footer-button-contact{
			padding:15px;
			background:none;
			border:1.5px solid white;
			color:white;
			font-weight:100;
			font-size: 10px;
			display:block;
			margin:auto;
			margin-bottom:30px;
			margin-top:20px;
		}
		.footer button.footer-button-contact:hover{
			border-color:white;
			background-color:#b4b6c3;
			color:#0D121C;
			align-self: center;
		}
		.footer .follow-contain ol{
			margin:0;
			margin:auto;
			text-align: center;
		}
		.footer .follow-contain ol li{
			display:inline-block;
		}

		.footer .fa{
			font-size:40px;
		}
		.footer-h1{
			text-align: center;
			color:white;
		}

		.row-footer {


		}
		.qr-code-img {
			width:150px;
			height:150px;
			position:relative;
			float:right;
		}


=======
		.our-story{
			margin-top:0px;
			height:90%;
			width:100%;
			padding-top: 100px;
			padding-left: 10%;
			padding-right: 10%;
		}

		.our-story-description{
			line-height: 2;
		}
>>>>>>> 2e01fbf4351f405f7872c36d9ffd772081ae7184
